<nav class="subnav">Sort by:
  <li><%= link_to 'Date (descending)', url_for(sort: 'date') %></li>
  <li><%= link_to 'Date (ascending)', url_for(sort: 'date', direction: 'ASC') %></li>
</nav>
<main>
<% @reviews.each do |review| %>
<section class='review-container'>
  <figure class='book-small-thumb'>
    <img src='<%= review.book.thumbnail %>'>
  </figure>
  <section class='review-content'>
    <h2><%= link_to review.book.title, review.book %></h2>
    <p>
      <span class='review-title'>
        <%= review.title %>
      </span> |
      <span class='review-rating'>
        Rating: <%= review.rating %> / 5
      </span><br />
      <span class='review-timestamp'>
        <%= format_date(review.created_at) %>
      </span>
    </p>
    <p><%= review.description %></p>
    <%= link_to '- Delete This Review',
                review_path(review.id, user: review.user),
                id: "delete-review-#{review.id}",
                method: :delete %>
  </section>
</section>
<% end %>
</main>
