<% @books.each do |book| %>
  Title:  <%= link_to book.title, book_path(book) %><br />
  Author: <% book.authors.each do |author| %>
    <%= link_to author.name, author_path(author) %>
  <% end %><br />
  Pages: <%= book.pages %><br />
  Year Published: <%= book.year_published %>
  <img src="<%= book.thumbnail %>" alt="Cover image for <%= book.title %>" />
<% end %>

<div id='worst_books'>
  <h6>Worst Books</h6>
  <% @books.worst_3.each do |book| %>
  <%= "#{book.title} - Average Rating: #{book.average_rating.to_f.round(2)}" %><br>
  <% end %>
</div>
<div id='best_books'>
  <h6>Best Books</h6>
  <% @books.best_3.each do |book| %>
  <%= "#{book.title} - Average Rating: #{book.average_rating.to_f.round(2)}" %><br>
  <% end %>
</div>
