<nav>Sort by:
  <%= link_to 'Rating (descending)', books_path(sort: 'rating') %>
  <%= link_to 'Rating (ascending)', books_path(sort: 'rating', direction: 'ASC') %>
  <%= link_to 'Pages (descending)', books_path(sort: 'pages') %>
  <%= link_to 'Pages (ascending)', books_path(sort: 'pages', direction: 'ASC') %>
  <%= link_to 'Reviews (descending)', books_path(sort: 'reviews') %>
  <%= link_to 'Reviews (ascending)', books_path(sort: 'reviews', direction: 'ASC') %>
</nav>

<section>
  <% @sorted_books.each do |book| %>
    <div id='<%= book.title.downcase.gsub(" ", "-") %>'>
      <figure>
        <img src="<%= book.thumbnail %>" />
      </figure>

      Title:  <%= link_to book.title, book_path(book) %><br />
      Author: <% book.authors.each do |author| %>
        <%= link_to author.name, author_path(author) %>
      <% end %><br />
      Pages: <%= book.pages %><br />
      Year Published: <%= book.year_published %>
      Average Rating: <%= book.average_rating %>
    </div>
  <% end %>
</section>


<section id='worst_books'>
  <h6>Worst Books</h6>
  <% @books.worst_3.each do |book| %>
  <%= "#{book.title} - Average Rating: #{book.average_rating.to_f.round(2)}" %><br>
  <% end %>
</section>

<section id='best_books'>
  <h6>Best Books</h6>
  <% @books.best_3.each do |book| %>
  <%= "#{book.title} - Average Rating: #{book.average_rating.to_f.round(2)}" %><br>
  <% end %>
</section>

<section id='top_reviewers'>
  <h6>Top Reviewers</h6>
  <% @reviews.top_reviewers.each do |reviewer| %>
  <%= "#{reviewer[0]}: #{reviewer[1]} reviews" %>
  <% end %>
</section>
