<nav class="subnav">Sort by:
  <li><%= link_to 'Rating (descending)', books_path(sort: 'rating') %></li>
  <li><%= link_to 'Rating (ascending)', books_path(sort: 'rating', direction: 'ASC') %></li>
  <li><%= link_to 'Pages (descending)', books_path(sort: 'pages') %></li>
  <li><%= link_to 'Pages (ascending)', books_path(sort: 'pages', direction: 'ASC') %></li>
  <li><%= link_to 'Reviews (descending)', books_path(sort: 'reviews') %></li>
  <li><%= link_to 'Reviews (ascending)', books_path(sort: 'reviews', direction: 'ASC') %></li>
  <li class="align-right"><%= link_to '+ Add a New Book', new_book_path %></li>
</nav>

<section class="stats">
  <section id='worst_books' class="stats-content">
    <h2>Worst Books</h2>
    <% @worst_3.each do |book| %>
    <%= link_to book.title, book_path(book) %> |
    Average Rating: <%= book.average_rating.to_f.round(2) %><br />
    <% end %>
  </section>

  <section id='best_books' class="stats-content">
    <h2>Best Books</h2>
    <% @best_3.each do |book| %>
    <%= link_to book.title, book_path(book) %> |
    Average Rating: <%= book.average_rating.to_f.round(2) %><br />
    <% end %>
  </section>

  <section id='top_reviewers' class="stats-content">
    <h2>Top Reviewers</h2>
    <% @top_reviewers.each do |reviewer| %>
    <%= link_to reviewer[0], user_path(reviewer[0]) %>
    <%= ": #{reviewer[1]} total reviews" %><br />
    <% end %>
  </section>
</section>

<section id='all-books'>
  <% @books.each do |book| %>
    <div class="book" id='<%= book.title.downcase.gsub(" ", "-") %>'>
      <section class="book-content">
        <img src="<%= book.thumbnail %>" class="book-small-thumb"/>
      </section>

      <section class="book-content center">
        <h2><%= link_to book.title, book_path(book) %></h2>
        <p>Author<%= book.authors.count > 1 ? 's' : '' %>: <% book.authors.each do |author| %>
          <%= link_to author.name, author_path(author) %>
        <% end %></p>
        <p>Pages: <%= book.pages %></p>
        <p>Year Published: <%= book.year_published %></p>
      </section>

      <section class="book-content right">
        <p>Total Reviews: <%= book.reviews.count %></p>

        <p>Average Rating:<br /><br />
          <span class="emphasis"><%= book.average_rating.round(2) %></span></p>
      </section>
    </div>
  <% end %>
</section>
