<h1>Add a New Review</h1>

<%= form_for [@book, @review] do |f| %>
  <p><%= f.label :title %><br />
  <%= f.text_field :title %><br />

  <%= f.label :rating %><br />
  <%= f.number_field :rating %><br />

  <%= f.label :description %><br />
  <%= f.text_field :description %><br />

  <%= f.label :your_name %><br />
  <%= f.text_field :user %><br /></p>

  <p><%= f.submit %></p>
<% end %>
